!!! 5
%meta{name: "viewport", content: "width=device-width"}
%html
  %head
    %script{:type => 'text/javascript', :src => "./js/jquery-2.1.4.min.js"}
    %script{:type => 'text/javascript', :src => "./js/bootstrap.min.js"}
    %link{:rel => "stylesheet", :href => "./css/bootstrap.min.css"}
  %body
    %form{:action => "/create-user", :method => "post"}
      %h1= @obj[:name]
      .table-responsive
        %table{class: "table"}
          - (1..12).each do |e|
            %tr
              %td{ style: "width:10%"}
                - if e == 0
                  %p
                - elsif e == 10
                  %p 先発
                - elsif e == 11
                  %p 中継
                - elsif e == 12
                  %p 抑え
                - else
                  %p= e
              %td
                %p= @obj.invert[e.to_s]
      - @obj.each do |k , v|
        %input{:type => "hidden",:name => k, :value => v}
      %input{:type => "submit", class: "btn btn-info", :value => "決定"}
