%html
  %head
    %script{:type => 'text/javascript', :src => "./js/jquery-2.1.4.min.js"}
    %script{:type => 'text/javascript', :src => "./js/main.js"}
  %body
    %h1 BOM
    %a{ href: "make" } make
    %p top PAGE
    %p= @f
    %p =================
    - @f.each do |index, title|
      %a{ href:"/input-data/#{index}"} #{title}
      %br

