%html
  %head
    %script{:type => 'text/javascript', :src => "../js/jquery-2.1.4.min.js"}
    %script{:type => 'text/javascript', :src => "../js/bootstrap.min.js"}
    %link{:rel => "stylesheet", :href => "../css/bootstrap.min.css"}
  %body
    %h1 入力する
    %p =================
    .table
      %form{:action => "/confirm-userdata", :method => "post"}
        .tr
          .th
            %p name
          .th
            %input{:type => "text",:name => "name"}
        - @order_elements.each do |e|
          -# この辺のレイアウトとか
          .tr
            .th
              %p= e
            .th
              %select{:name => e }
                - (0..12).each do |e|
                  - if e == 0
                    %option{:value => e,:selected => e }
                      #{e}
                  - elsif e == 10
                    %option{:value => e}
                      先発
                  - elsif e == 11
                    %option{:value => e}
                      中継
                  - elsif e == 12
                    %option{:value => e}
                      抑え
                  - else
                    %option{:value => e}
                      #{e}
        %br
        %input{:type => "hidden",:name => "hash",:value=> @order_key }
        %input{:type => "submit",:class => "btn btn-info",:value => "send"}
        %br
        %a{ href: "/",class: "btn btn-info"} home

