%html
  %head
    %script{:type => 'text/javascript', :src => "../js/jquery-2.1.4.min.js"}
    %script{:type => 'text/javascript', :src => "../js/bootstrap.min.js"}
    %link{:rel => "stylesheet", :href => "../css/bootstrap.min.css"}
  %body
    %h1 入力する
    %p =================
    .row-fluid
      %form{:action => "/confirm-userdata", :method => "post"}
        %p name
        %input{:type => "text",:name => "name"}
        - @order_elements.each do |e|
          -# この辺のレイアウトとか
          .span6
            %p= e
          %select{:name => e }
            - (0..10).each do |e|
              - if e == 0
                %option{:value => e,:selected => e }
                  #{e}
              - else
                %option{:value => e}
                  #{e}
          %br
        %input{:type => "hidden",:name => "hash",:value=> @order_key }
        %input{:type => "submit",:value => "send"}
        %br
        %a{ href: "/",class: "btn btn-info"} home

