!!! 5
%meta{name: "viewport", content: "width=device-width"}
%html
  %head
    %script{:type => 'text/javascript', :src => "./js/jquery-2.1.4.min.js"}
    %script{:type => 'text/javascript', :src => "./js/form_append.js"}
  %body
    %p make BO
    %a{ href: "/" } home
    %form{:action => "/create-order", :method => "post"}
      %p Title
      %input{:type => "text",:name => "title"}
      %p object
      #append_area
        %input{:type => "text",:name => "field[]"}
        %input{:type => "button",:id => "append",:value => "append"}
      %input{:type => "submit",:value => "send"}


