:javascript
  $(function(){
    $('#new_link').click(function(){
      alert('clicked');
      return false;
    });
  });

%html
  %head
    %script{:type => 'text/javascript', :src => "./js/jquery-2.1.4.min.js"}
  %body
    %p make BO
    %a{ href: "home" } home
    %form{:action=>"/", :method=>"post"}
      %input{:type=>"texfield",:name=>"str"}
      %input{:type=>"submit", :value=>"send"}

