%html
  %head
    %script{:type => 'text/javascript', :src => "./js/jquery-2.1.4.min.js"}

  :javascript
    $(function(){
    $('p').click(function() {$(this).fadeOut('slow');});
    });

  %body
    %p make BO
    %a{ href: "home" } home
    %form{:action=>"/create-order", :method=>"post"}
      %input{:type=>"texfield",:name=>"str"}
      %input{:type=>"submit", :value=>"send"}

