%html
  %head
    %script{:type => 'text/javascript', :src => "./js/jquery-2.1.4.min.js"}
    %script{:type => 'text/javascript', :src => "./js/bootstrap.min.js"}
    %link{:rel => "stylesheet", :href => "./css/bootstrap.min.css"}
  %body
    %h1 SHOW USERS DATA
    %a{ href: "/" } home
    %table
      - (0..12).each do |e|
        %tr
          %td
            - if e == 0
              %p name
            - else
              %p= e
          -@users_data.each do |user|
            %td
              %p= user[e]
