%html
  %head
    %script{:type => 'text/javascript', :src => "./js/jquery-2.1.4.min.js"}
  %body
    %h1 SHOW USERS DATA
    %a{ href: "/" } home
    %table
      - @users_data.each do |user| 
        %tr
          %td
            %p= user.name
